services:
  backend:
    build: ./backend
    container_name: ex02_backend
    volumes:
      - ./data:/data
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: ex02_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
